{% extends "base" %}

{% block title %}Mi Cuenta{% endblock %}

{% block content %}
  <div class="col-sm-12 col-md-10 col-lg-8 m-auto my-2" id="myAccount">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item"><a href="/mi-cuenta">Mi Cuenta</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalles</li>
      </ol>
    </nav>

    {% include 'partials.messages' %}

    <div class="card border-gray">
      <h5 class="card-header">Información de la cuenta</h5>
      <div class="card-body pt-0">
      {% include 'partials.form.account.details.info' %}
      </div>
    </div>

    <div class="card border-gray mt-2">
      <h5 class="card-header">Productos adquiridos</h5>
      <div class="card-body pt-0">
      {% include 'partials.form.account.details.purchase' %}
      </div>
    </div>

    <div class="card border-gray mt-2">
      <h5 class="card-header">
        <span>Abonos efectuados</span>
        <button class="btn btn-outline-secondary btn-sm float-right"
          data-toggle="modal" data-target="#payModal"
          data-account="{{ account.info.id_cuenta }}"
          title="Abonar">
          <i class="fa fa-credit-card mr-2"></i>Abonar
        </button>
      </h5>
      <div class="card-body pt-0">
      {% include 'partials.form.account.details.credit' %}
      </div>
    </div>

    {% include 'partials.modal.cc-payment' %}
  </div>

{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="{{ asset('js/cc-payment.js') }}"></script>
{% endblock %}
