{% extends "base" %}

{% block title %}Catálogo{% endblock %}

{% block content %}
  <div class="col-11 m-auto">

    {% include 'partials.catalog-options' %}

    {% include 'partials.products' %}

    <div class="row justify-content-center my-3">
      {{ products.onEachSide(1).links()|raw }}
    </div>
  </div>

  {% include 'partials.modal.product' %}

{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="{{ asset('js/products.js') }}"></script>
{% endblock %}
