{% extends "base" %}

{% block title %}Inicio{% endblock %}

{% block content %}

  {% include 'partials.carousel' %}

  <div class="col-11 m-auto">
    {% include 'partials.messages' %}
    <div class="row">
      <div class="col-12 d-flex justify-content-between my-2">
        <h5 class="align-middle"><strong>Nuestros productos</strong></h5>
        <a class="btn btn-outline-primary btn-sm more" href="/catalogo">Ver más</a>
      </div>
    </div>
    {% include 'partials.products' %}
  </div>

  {% include 'partials.modal.product' %}

{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="{{ asset('js/products.js') }}"></script>
{% endblock %}
