<div class="form-inline mb-3">
  <div class="form-row ml-auto">

    <div class="input-group mb-2 mr-2">
      <div class="input-group-prepend">
        <label class="input-group-text" for="order">Ordenar por:</label>
      </div>
      <select name="sort" class="form-control">
        <option selected value="">No ordenar</option>
        <option value="name">Nombre</option>
        <option value="price">Precio</option>
      </select>
    </div>

    <div class="input-group mb-2 mr-2">
      <div class="input-group-prepend">
        <label class="input-group-text" for="per-page">Articulos por página:</label>
      </div>
      <select name="pageSize" class="form-control">
        <option selected value="1">8</option>
        <option value="2">16</option>
        <option value="3">32</option>
        <option value="-1">Todos</option>
      </select>
    </div>
  </div>
</div>
