<div class="form-inline mb-3">
  <div class="form-row ml-auto">
    <div class="input-group mb-2 mr-2">
      <div class="input-group-prepend">
        <label class="input-group-text" for="order">Ordenar por:</label>
      </div>
      <select class="form-control" id="order">
        <option selected value="0">Relevancia</option>
        <option value="1">Nombre</option>
        <option value="2">Precio</option>
        <option value="3">Disponibilidad</option>
      </select>
    </div>

    <div class="input-group mb-2 mr-2">
      <div class="input-group-prepend">
        <label class="input-group-text" for="per-page">Articulos por página:</label>
      </div>
      <select class="form-control" id="per-page">
        <option selected value="1">8</option>
        <option value="2">16</option>
        <option value="3">32</option>
        <option value="3">64</option>
      </select>
    </div>
  </div>
</div>

{#<div class="input-group row mb-3 m-auto">
  <div class="col">
    <label for="order">Ordenar por:</label>
    <select class="form-control form-control-sm" id="order">
      <option selected value="0">Relevancia</option>
      <option value="1">Nombre</option>
      <option value="2">Precio</option>
      <option value="3">Disponibilidad</option>
    </select>
  </div>
  <div class="col">
    <label for="per-page">Articulos por página:</label>
    <select class="form-control form-control-sm custom-select" id="per-page">
      <option selected value="1">8</option>
      <option value="2">16</option>
      <option value="3">32</option>
      <option value="3">64</option>
    </select>
  </div>
</div>
#}
