<div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="payModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="payModalTitle">
          <span class="ml-4">
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-discover"></i>
          </span>
          <span>Tarjeta de crédito o débito</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pt-0 mx-3">

        <form action="/mi-cuenta/abonar" method="post">
          {{ csrf_field() }}
          <input type="hidden" name="account_id" id="acc-id">
          <div class="form-row">
            <div class="form-group col-12 my-0">
              <label for="cc-titular">Nombre del titular</label>
              <input type="text" class="form-control" name="credit_card_titular" id="cc-titular" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 my-0">
              <label for="cc-number">Número de tarjeta</label>
              <input type="number" class="form-control" name="credit_card_number" id="cc-number" placeholder="000 000 000 000 0000" pattern="\d{16}" required >
            </div>
          </div>
          <div class="form-row justify-content-between">
            <div class="form-group col-7 my-0">
              <label for="cc-exp">Fecha de expiración</label>
              <input type="text" class="form-control" name="credit_card_expiration_date" id="cc-exp" placeholder="YY/MM" pattern="\d{2}\/\d{2}" required>
            </div>
            <div class="form-group col-5">
              <label for="cc-code">Código de seguridad</label>
              <input type="password" class="form-control" name="credit_card_security_code" placeholder="3 dígitos" id="cc-code" pattern="\d{3}" required>
            </div>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="allow_save" id="cc-save" required>
            <label class="form-check-label" for="cc-save">Autorizo guardar este método de pago</label>
          </div>
          <hr/>
          <label for="cc-pay" class="on-top">Cantidad a abonar</label>
          <div class="input-group mb-3">
            <input class="form-control col rounded" type="number" name="amount" id="cc-pay" min=".1" step=".1" pattern="^\d*\.?\d+$" required>
            <div class="input-group-append col">
              <button type="submit" class="btn btn-secondary col rounded"><i class="fa fa-credit-card mr-2"></i>Abonar</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
