<div class="form-row table-responsive">
  <table class="table table-hover">
    <thead>
      <tr class="text-center">
        <th scope="col">Número de tarjeta</th>
        <th scope="col">Fecha de expiración</th>
        <th scope="col">Última vez utilizada</th>
      </tr>
    </thead>
    <tbody>
      {% for cc in my.account.cc_info %}
      <tr class="text-center">
        <td>{{ cc.number }}</td>
        <td>{{ cc.exp_date }}</td>
        <td>{{ cc.last_usage }}</td>
      </tr>
      {% else %}
      <tr class="col-12 text-center">
        <td colspan="4">No tiene tarjetas vinculadas</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
