<div class="input-group mb-2">
  <div class="input-group-prepend">
    <label for="nw_passwd" class="input-group-text"><i class="fas fa-lock"></i></label>
  </div>
  <input name="new_password" type="password" class="form-control" placeholder="Nueva contrase単a" id="nw_passwd" required>
  <div class="invalid-feedback">
    Nueva contrase単a es requerida.
  </div>
</div>

<div class="input-group mb-2">
  <div class="input-group-prepend">
    <label for="re_passwd" class="input-group-text"><i class="fas fa-lock"></i></label>
  </div>
  <input name="repeat_password" type="password" class="form-control" placeholder="Repita nueva contrase単a" id="re_passwd" required>
  <div class="invalid-feedback">
    No es igual a la nueva contrase単a.
  </div>
</div>

